{% extends "partials/base_auth.html" %}
{%load static%}
{% block content %}

<div class="row">

<div class="col-4">

</div>
<div class="col-md-4 mt-5">

    <div class="card mt-5" >
        <div class="card-title">
            
             
            <div class="card-body">
                <h4>Password Reset</h4>
                <p class="lead">Please enter your email to get a password reset link to reset your password</p>
            <form action="{% url 'reset-password' %}" method="post">
                {% include 'partials/messages.html'%}
                {% csrf_token %}

                <div class="form-group">
                    <input type="email" name="email" id="emailField", value="{{fieldValue}}"
                     placeholder="yourEmail@domain.com" class=" mb-2 form-control form-control-sm px-4"
                       style="border-radius: 60px; border-left: solid 3px rgb(63, 142, 245);">
                        <span class="feedback_Email_invalid invalid-feedback " style=" background-color: #eee ;"></span>
                </div>


                
               
                <div class="d-grid form-group">
                    <button class="btn btn-primary submitButton btn-sm" style="border-radius: 100px; border-right: solid 3px #eee;">Submit</button>
                </div>
            </form>
            <small class="">Dont have an account yet? </small>&nbsp;<a href="{% url 'register' %}" style="text-decoration: none; font-weight: bold;">Register</a><br>
            <span><small class=""  >Login to Your account </small>&nbsp;<a href="{% url 'login' %}" style="text-decoration: none; font-weight: bold;">Login</a></span>
            </div>

        </div>
    </div>
</div>



<div class=" col-md-4">

</div>



</div>
<script src="{% static 'js/register.js' %}"></script>

{% endblock content %}