
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="icon" type="image/x-icon" href='{% static "img/logo.png"%}'>
    <title>ExpenseIncome | {% block title %} {% endblock title%}</title>

    
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" >
<link href="{% static 'css/main.css' %}" rel="stylesheet" >


    
    <!-- Custom styles for this template -->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
  </head>
  <body>


<nav class="navbar navbar-dark sticky-top  flex-md-nowrap p-0 shadow" style="background-color: rgb(99, 145, 145);">
  <a class="navbar-brand col-sm-3 col-md-2 ms-0 " href="#">&nbsp; <img class="brand" src="{% static 'img/logo.png' %}" alt="logo"> ExpInc</a>

  <ul
    class="navbar-nav px-3"
    style="display: flex; flex-direction: row; align-items: center;"
  >
    <li class="nav-item text-nowrap">
      <span class="nav-link" href="">
        ({{user}})
      </span>
    </li>

    <li class="nav-item text-nowrap mt-3 ms-2">
      <form action="{% url  'logout' %}" method="POST">
        {% csrf_token %}
        <input
          class="text text-capitalize"
          type="submit"
          value="Sign out"
        />
      </form>
    </li>
  </ul>
</nav>



<div class="container-fluid">
  
   
    <main class="">
      

      {% block content %}

      {% endblock content %}

    </main>
  
</div>

{% include 'partials/footer.html' %}
    <script src="{% static 'js/bootstrap.bundle.min.js' %}" ></script>

      <script src="{% static 'js/dashboard.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    
    </body>
</html>