{% extends 'base.html' %}
{% block title %}Add Income{% endblock title %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'income'%}">Income</a></li>
        <li class="breadcrumb-item active" aria-current="page">My Income</li>
    </ol>

</nav>
<h3 class="text-center">Edit Income</h3>
    
<div class="row">
    <div class="form-group  col-2">
        <form action="{% url 'delete-income' income.id %}" method="post">
            {%csrf_token%}
            <button class="btn btn-outline-danger btn-sm " style="border-radius: 0%;" id="btn">Delete</button>
        </form>
    </div>
    
    <div class="col-6">
        <small class="text-danger" style="display: none;" id="del">Record cannot be recovered when deleted!</small>
    </div>
    <div class="col-4">
        <a href="{% url 'income' %}" class="btn btn-primary btn-sm float-end"> Go back</a>
    </div>
    
    <script>
        del = document.getElementById('del')
        btn = document.getElementById('btn')
        btn.addEventListener('mouseover', function(){
            del.style.display = 'block'


            setTimeout(() => {
                del.style.display = 'none'
            }, 2000);
        })


    </script>
   
</div>

    <div class=" card card-body">
        <form action="{% url 'update-income' income.id %}" method="post">
            {% include 'partials/messages.html'%}
            {%csrf_token%}
        
        <div class="form-group">
            <label for="">Amount</label>
            <input type="number" class="form-control form-control-sm" value="{{income.amount}}" name="amount">
        </div>

        <div class="form-group">
            <label for="date">Date</label>
            <input type="date" class="form-control form-control-sm" value="{{income.date | date:'Y-m-d'}}" name="date">
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control form-control-sm" value="{{income.description}}" name="description">
        </div>

        <div class="form-group">
            <label for="source">Source</label>
            <select name="source" id="" class="form-control form-control-sm">
                <option value="{{income.source}}">{{income.source}}</option>
                {% for src in source %}
                <option value="{{src.name}}">{{src.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group mt-2">
            <input type="submit" value="Update" class=" form-control form-control-sm btn btn-primary btn-sm">
           
        </div>
        </form>
    

        </div>
    

{% endblock content %}
