:root {
    /* --primary: #79aec8; */
    --primary: rgb(99, 145, 145);
    --secondary: #417690;
    --accent: #f5dd5d;
    --primary-fg: #fff;
    --body-fg: #333;
    --body-bg: #fff;
    --body-quiet-color: #666;
    --body-loud-color: #000;
    --header-color: white;
    --header-branding-color: var(--accent);
    --header-bg: rgb(99, 145, 145);
    --header-link-color: var(--accent);
    --breadcrumbs-fg: #c4dce8;
    --breadcrumbs-link-fg: var(--body-bg);
    --breadcrumbs-bg: var(--primary);
    --link-fg: #447e9b;
    --link-hover-color: #036;
    --link-selected-fg: #5b80b2;
    --hairline-color: #e8e8e8;
    --border-color: #ccc;
    --error-fg: #ba2121;
    --message-success-bg: #dfd;
    --message-warning-bg: #ffc;
    --message-error-bg: #ffefef;
    --darkened-bg: #f8f8f8;
    --selected-bg: #e4e4e4;
    --selected-row: #ffc;
    --button-fg: #fff;
    --button-bg: rgb(99, 145, 145);
    --button-hover-bg: rgba(99, 145, 145, 0.6);  /*#609ab6;*/
    --default-button-bg: var(--secondary);
    --default-button-hover-bg: #205067;
    --close-button-bg: #888;
    --close-button-hover-bg: #747474;
    --delete-button-bg: #ba2121;
    --delete-button-hover-bg: #a41515;
    --object-tools-fg: var(--button-fg);
    --object-tools-bg: var(--close-button-bg);
    --object-tools-hover-bg: var(--close-button-hover-bg);
}





.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: var(--button-bg);
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: var(--button-fg);
    cursor: pointer;
    transition: background 0.15s;
}

#branding h1{
    color: white;
}


input[type=text]:focus {
    border: 5px solid var(--primary);
  }

  input[type=password]:focus {
    border: 5px solid var(--primary);
  }

  input[type="submit"] {
    -webkit-appearance: none;
    appearance: none;
    /* width: 100%; */
}


a.section:link, a.section:visited {
  color: white;
  font-weight: 900;
  text-decoration: none;
  text-shadow:  1px 0px 10px black;
}

