<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Output</title>

    <style>
       @page{
        size: 'A4';
        margin: 1cm 1.5cm;

       
       }
       
    </style>
</head>



<body>


<div>
<center style="padding-bottom: 1cm;">
        <img src="static/img/logo.png" alt="logo" width="100" height="100">
    <br> <em style="font-size: 20px;">ExpInc.com</em>
</center>
    {% if expense %}
    <div>
     <b style="font-size: 21px; color: rgb(153, 145, 145);">Summary of Your Expenses</b>
     <table style="border-color: rgb(213, 219, 219); border-style: solid;
     border-width: 0; font-size: 20px; border-bottom-width: 1px; padding: 5px 0 0 0; 
     background-color: rgb(233, 240, 237);">
            <thead >
                <tr>
                    <th>Quantity</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Amount ({{currency}})</th>
                    <th>Date</th>
                    
                    
                </tr>
            </thead>
 
            {% for exp in expense %}
            <tbody style=" text-align: center;">
                <tr>
                <td>{{forloop.counter}}</td>
                <td> {{exp.category}}</td>
                <td> {{exp.discription}}</td>
                <td>{{exp.amount}}</td>
                <td> {{exp.date}}</td>
            </tr>
                
                </tbody>
            {% endfor %}
            <tr>
                <td colspan="2"><b>Total:</b></td>
                <td colspan="2">{{total}}</td>
                
            </tr>
 
    </table>
    </div>
     {%else%}
     <p style="font-size: 24px; color: chocolate;">Dear {{user}}, You dont have any record yet!</p>
     {% endif %}

</div>
   
</body>
</html>